/**
 * vRegistrator global styles
 *
 * @package     System
 * @author      Vallo Reima
 * @copyright   (C)2010 
*/
html{
  font-size: 100%;
}
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  margin: 0;
  padding: 0;
  border:0;
  overflow: auto;
}
.unlink a {
  color: black;
  text-decoration: none;
  border-bottom: 0.1em solid silver;
}
.unlink a:hover{
  border-bottom: 0.1em solid black;
}
.button-link {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.button-cmd {
  font-size: 0;
  padding: 0;
  vertical-align: middle;
}
.wrapper {
  font-size:0.75em;
  width: 295px;
  border: medium solid silver;
  position:relative;
  margin: 1em auto;
  text-align: center;
}
.header {
  background-color:silver;
  padding:0.2em;
  font-size:1.3em;
  font-weight: bold;
  color:black;
  text-align: center;
}
.footer {
  background-color:silver;
  padding-top: 0.2em; 
  font-size: 0.9em;
  font-weight: normal;
  text-align: center;
}
.leftFloat {
  float: left;
}
.rightFloat {
  float: right;
}
.endFloat {
  clear: both;
}
span.horGap {
  display: inline-block;
  width: 0.5em;
}
.msgs {
  padding: 0.5em;
  font-weight: normal;
  line-height: 1.563em;
}
.msg0 {
  font-weight: bold;
}
.msg1 {
  font-style: italic;
}
.loading{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -7px;
  margin-left: -64px;
}
.hide {
  display:none;
}
div.msgpop {
  border: thin solid red;
  border-left-width: 0.5em;
  padding: 0em 0.1em 0em 0.1em;
  background-color: white;
  position: absolute;
  display: block;
}
.mbo{
 background-image: url('mbo.png');
}
.msgraw {
  color: red;
  font-style: italic;
  font-weight: bold;
  text-align: right;
}
.serving {
  display: none;
  float: right;
  margin: 0.5em 0;
}
div.cfm {
  display: none;
  text-align: center;
}
span.cft {
  color: red;
  font-style: italic;
  font-weight: bold;
}
div.cfb {
  padding-top: 0.5em;
}
.pcl {
  position: fixed;
  z-index: 999;
  background-color: #dddddd;
  display: none;
  font-size: 0.8em;
  border: 1px solid silver;
  padding: 0.5em; 
}
.pcl div{
  height: 250px;
  width: 350px;
  margin-bottom: 0.5em;
  overflow:auto;
  text-align: left;
}
.pcl span{
  display: block;
}
.pcl button {
  float: right;
}
